* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
    width: 100%;
  height: 100%;
  background-color: #b9b7b7;
  background-image: radial-gradient(rgba(34, 34, 34, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

h1 {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-top: 24px;
}


.container {
  gap: 35px;
  display: flex;
  padding-left: 50px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
}

form {
  width: 300px;
  margin-top: 16px;
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 6px;
  font-size: 14px;
}

.error-text {
  color: red;
  font-size: 12px;
  height: 14px;
}

.invalid {
  border: 2px solid red;
}

table {
  border-collapse: collapse;
  min-width: 500px;
  margin-top: 16px;
  border-style: solid;
  border-spacing: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}

.buttons{
  display: flex;
  gap: 30px;
  padding-left: 30px;
  margin-bottom: 16px;
}

button {
  padding: 6px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 1px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 1px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 100ms;
}